
.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.circleSmall {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.yellow {
  background-color: #CDB900;
  color: black;
}
.blue {
  background-color: #009CCD;
  color: black;
}
.dark {
  background-color: #4B394E;
  color: white;
  /* border-color: white; */
}
.white {
  background-color: white;
  color: black;
}
.tuffyBold {
  font-family: 'tuffybold', sans-serif;
}
.card {
  border: solid black 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  width: 70vw;
  height: 70vw;
  max-height: 75vh;
  max-width: 75vh;
}