/* body{
  background-color: #CDB900;
} */

.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.circleSmall {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.yellow {
  background-color: #CDB900;
  color: black;
}
.blue {
  background-color: #009CCD;
  color: black;
}
.dark {
  background-color: #4B394E;
  color: white;
}
.white {
  background-color: white;
  color: black;
}
.tuffyBold {
  font-family: 'tuffybold', sans-serif;
}